<a href="https://colab.research.google.com/github/joliver-rsa/python-training/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("/content/rh_trafficcameraactivitydataset_seasonal_cleaned.xlsx")

In [3]:
pd.set_option('max_columns', None)
# Q1 answer:
# pd.set_option('max_rows', None)

In [4]:
df.head()
# Q2a:
# pd.head(20)
# Q2b:
# pd.tail()

,DATE,LONDON_CARS,LONDON_MOTORBIKES,LONDON_BUSES,LONDON_TRUCKS,LONDON_VANS,LONDON_PEDESTRIANS_&_CYCLISTS,NORTH_EAST_CARS,NORTH_EAST_MOTORBIKES,NORTH_EAST_BUSES,NORTH_EAST_TRUCKS,NORTH_EAST_VANS,NORTH_EAST_PEDESTRIANS_&_CYCLISTS,NORTHERN_IRELAND_CARS,NORTHERN_IRELAND_MOTORBIKES,NORTHERN_IRELAND_BUSES,NORTHERN_IRELAND_TRUCKS,NORTHERN_IRELAND_VANS,NORTHERN_IRELAND_PEDESTRIANS_&_CYCLISTS,SOUTHEND_CARS,SOUTHEND_MOTORBIKES,SOUTHEND_BUSES,SOUTHEND_TRUCKS,SOUTHEND_VANS,SOUTHEND_PEDESTRIANS_&_CYCLISTS,GREATER_MANCHESTER_CARS,GREATER_MANCHESTER_MOTORBIKES,GREATER_MANCHESTER_BUSES,GREATER_MANCHESTER_TRUCKS,GREATER_MANCHESTER_VANS,GREATER_MANCHESTER_PEDESTRIANS_&_CYCLISTS,READING_CARS,READING_MOTORBIKES,READING_BUSES,READING_TRUCKS,READING_VANS,READING_PEDESTRIANS_&_CYCLISTS
0,2020-03-01,0,0,0,0,0,0,55943,20,2256,1156,5198,5302,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020-03-02,0,0,0,0,0,0,55546,24,2297,1164,5019,5942,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2020-03-03,0,0,0,0,0,0,55287,25,2325,1165,5091,5974,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2020-03-04,0,0,0,0,0,0,52823,21,2236,1150,5144,6199,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2020-03-05,0,0,0,0,0,0,52807,22,2279,1189,5283,6336,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
df.info()

# Q3a:
# df.columns()
# Q3b:
# df.info(verbose=False) ?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 37 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DATE                                       799 non-null    datetime64[ns]
 1   LONDON_CARS                                799 non-null    int64
 2   LONDON_MOTORBIKES                          799 non-null    int64
 3   LONDON_BUSES                               799 non-null    int64
 4   LONDON_TRUCKS                              799 non-null    int64
 5   LONDON_VANS                                799 non-null    int64
 6   LONDON_PEDESTRIANS_&_CYCLISTS              799 non-null    int64
 7   NORTH_EAST_CARS                            799 non-null    int64
 8   NORTH_EAST_MOTORBIKES                      799 non-null    int64
 9   NORTH_EAST_BUSES                           799 non-null    int64
 10  NORTH_EAST_TRUCKS                          799 non-null    int64
 11  NORTH_EAST_VANS                            799 non-null    int64
 12  NORTH_EAST_PEDESTRIANS_&_CYCLISTS          799 non-null    int64
 13  NORTHERN_IRELAND_CARS                      799 non-null    int64
 14  NORTHERN_IRELAND_MOTORBIKES                799 non-null    int64
 15  NORTHERN_IRELAND_BUSES                     799 non-null    int64
 16  NORTHERN_IRELAND_TRUCKS                    799 non-null    int64
 17  NORTHERN_IRELAND_VANS                      799 non-null    int64
 18  NORTHERN_IRELAND_PEDESTRIANS_&_CYCLISTS    799 non-null    int64
 19  SOUTHEND_CARS                              799 non-null    int64
 20  SOUTHEND_MOTORBIKES                        799 non-null    int64
 21  SOUTHEND_BUSES                             799 non-null    int64
 22  SOUTHEND_TRUCKS                            799 non-null    int64
 23  SOUTHEND_VANS                              799 non-null    int64
 24  SOUTHEND_PEDESTRIANS_&_CYCLISTS            799 non-null    int64
 25  GREATER_MANCHESTER_CARS                    799 non-null    int64
 26  GREATER_MANCHESTER_MOTORBIKES              799 non-null    int64
 27  GREATER_MANCHESTER_BUSES                   799 non-null    int64
 28  GREATER_MANCHESTER_TRUCKS                  799 non-null    int64
 29  GREATER_MANCHESTER_VANS                    799 non-null    int64
 30  GREATER_MANCHESTER_PEDESTRIANS_&_CYCLISTS  799 non-null    int64
 31  READING_CARS                               799 non-null    int64
 32  READING_MOTORBIKES                         799 non-null    int64
 33  READING_BUSES                              799 non-null    int64
 34  READING_TRUCKS                             799 non-null    int64
 35  READING_VANS                               799 non-null    int64
 36  READING_PEDESTRIANS_&_CYCLISTS             799 non-null    int64
dtypes: datetime64[ns](1), int64(36)
memory usage: 231.1 KB

In [8]:
print(df.shape)
print(len(df))

(799, 37)
799

In [15]:
df[['LONDON_CARS']]

# Q4a:
df[['DATE', 'LONDON_CARS']]
# Q4b:
#df[['DATE', 
#     'READING_CARS', 
#     'READING_MOTORBIKES', 
#     'READING_BUSES', 
#     'READING_TRUCKS',
#     'READING_VANS',
#     'READING_PEDESTRIANS_&_CYCLISTS']]
# Q4c:
# Different types

          DATE  LONDON_CARS
0   2020-03-01            0
1   2020-03-02            0
2   2020-03-03            0
3   2020-03-04            0
4   2020-03-05            0
..         ...          ...
794 2022-05-04       297520
795 2022-05-05       299054
796 2022-05-06       296789
797 2022-05-07       305750
798 2022-05-08       293397

[799 rows x 2 columns]

In [16]:
ldn_cols = ['LONDON_CARS', 
            'LONDON_MOTORBIKES',
            'LONDON_BUSES',
            'LONDON_TRUCKS',
            'LONDON_VANS',
            'LONDON_PEDESTRIANS_&_CYCLISTS']

df[ldn_cols]

,LONDON_CARS,LONDON_MOTORBIKES,LONDON_BUSES,LONDON_TRUCKS,LONDON_VANS,LONDON_PEDESTRIANS_&_CYCLISTS
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
794,297520,782,18666,17274,42066,60756
795,299054,805,18510,17103,41595,61148
796,296789,714,17992,16973,40461,57836
797,305750,789,18942,17683,42781,61123
798,293397,679,17592,17554,39495,50581

In [17]:
df.iloc[[0]]

,DATE,LONDON_CARS,LONDON_MOTORBIKES,LONDON_BUSES,LONDON_TRUCKS,LONDON_VANS,LONDON_PEDESTRIANS_&_CYCLISTS,NORTH_EAST_CARS,NORTH_EAST_MOTORBIKES,NORTH_EAST_BUSES,NORTH_EAST_TRUCKS,NORTH_EAST_VANS,NORTH_EAST_PEDESTRIANS_&_CYCLISTS,NORTHERN_IRELAND_CARS,NORTHERN_IRELAND_MOTORBIKES,NORTHERN_IRELAND_BUSES,NORTHERN_IRELAND_TRUCKS,NORTHERN_IRELAND_VANS,NORTHERN_IRELAND_PEDESTRIANS_&_CYCLISTS,SOUTHEND_CARS,SOUTHEND_MOTORBIKES,SOUTHEND_BUSES,SOUTHEND_TRUCKS,SOUTHEND_VANS,SOUTHEND_PEDESTRIANS_&_CYCLISTS,GREATER_MANCHESTER_CARS,GREATER_MANCHESTER_MOTORBIKES,GREATER_MANCHESTER_BUSES,GREATER_MANCHESTER_TRUCKS,GREATER_MANCHESTER_VANS,GREATER_MANCHESTER_PEDESTRIANS_&_CYCLISTS,READING_CARS,READING_MOTORBIKES,READING_BUSES,READING_TRUCKS,READING_VANS,READING_PEDESTRIANS_&_CYCLISTS
0,2020-03-01,0,0,0,0,0,0,55943,20,2256,1156,5198,5302,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [20]:
df.iloc[[0,1]]

# Q5:
# df.iloc[[30, 31]]

,DATE,LONDON_CARS,LONDON_MOTORBIKES,LONDON_BUSES,LONDON_TRUCKS,LONDON_VANS,LONDON_PEDESTRIANS_&_CYCLISTS,NORTH_EAST_CARS,NORTH_EAST_MOTORBIKES,NORTH_EAST_BUSES,NORTH_EAST_TRUCKS,NORTH_EAST_VANS,NORTH_EAST_PEDESTRIANS_&_CYCLISTS,NORTHERN_IRELAND_CARS,NORTHERN_IRELAND_MOTORBIKES,NORTHERN_IRELAND_BUSES,NORTHERN_IRELAND_TRUCKS,NORTHERN_IRELAND_VANS,NORTHERN_IRELAND_PEDESTRIANS_&_CYCLISTS,SOUTHEND_CARS,SOUTHEND_MOTORBIKES,SOUTHEND_BUSES,SOUTHEND_TRUCKS,SOUTHEND_VANS,SOUTHEND_PEDESTRIANS_&_CYCLISTS,GREATER_MANCHESTER_CARS,GREATER_MANCHESTER_MOTORBIKES,GREATER_MANCHESTER_BUSES,GREATER_MANCHESTER_TRUCKS,GREATER_MANCHESTER_VANS,GREATER_MANCHESTER_PEDESTRIANS_&_CYCLISTS,READING_CARS,READING_MOTORBIKES,READING_BUSES,READING_TRUCKS,READING_VANS,READING_PEDESTRIANS_&_CYCLISTS
30,2020-03-31,170578,720,15216,11526,24559,31578,26863,24,1441,705,2750,3249,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,2020-04-01,141996,623,14875,10627,21364,29530,28866,24,1315,675,2850,3445,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [37]:
df.iloc[[3,4], [2]]

df.iloc[3:5, 2:3]

# Q6a:
# df.iloc[40:46, 0:7]
# Q6b:
# df.iloc[:len(df.index), 0:7]
# Q6c:
# df.iloc[:6]

   LONDON_MOTORBIKES
3                  0
4                  0

In [47]:
df.loc[[1,3], ['LONDON_BUSES']]

df.loc[1:3, ['LONDON_BUSES']]

sth_cols = ['DATE',
            'SOUTHEND_CARS', 
            'SOUTHEND_MOTORBIKES',
            'SOUTHEND_BUSES',
            'SOUTHEND_TRUCKS',
            'SOUTHEND_VANS',
            'SOUTHEND_PEDESTRIANS_&_CYCLISTS']

# Q7a:
# df.loc[40:46], ['DATE']]
# Q7b:
# df.loc[:len(df.index), sth_cols]

,DATE,SOUTHEND_CARS,SOUTHEND_MOTORBIKES,SOUTHEND_BUSES,SOUTHEND_TRUCKS,SOUTHEND_VANS,SOUTHEND_PEDESTRIANS_&_CYCLISTS
0,2020-03-01,0,0,0,0,0,0
1,2020-03-02,0,0,0,0,0,0
2,2020-03-03,0,0,0,0,0,0
3,2020-03-04,0,0,0,0,0,0
4,2020-03-05,0,0,0,0,0,0
...,...,...,...,...,...,...,...
794,2022-05-04,4515,0,54,133,361,124
795,2022-05-05,4718,0,64,120,358,122
796,2022-05-06,4632,0,68,120,359,117
797,2022-05-07,4646,0,61,106,358,84
798,2022-05-08,4502,0,55,104,347,93

In [51]:
df.loc[df['DATE'] == '2022-05-04']

# Q8a:
#df.loc[(df['DATE'] >= '2022-01-01') & (df['DATE'] <= '2022-01-31'), ldn_cols]
# df.loc[df['LONDON_CARS'] > 250000]

,LONDON_CARS,LONDON_MOTORBIKES,LONDON_BUSES,LONDON_TRUCKS,LONDON_VANS,LONDON_PEDESTRIANS_&_CYCLISTS
671,233223,525,12937,13445,26356,33815
672,235859,526,16170,17425,32278,35986
673,246044,503,13985,10987,22674,39641
674,239915,494,15330,13494,27793,36549
675,237460,520,15145,13965,28475,39638
676,230893,459,16195,14871,30959,35926
677,243596,536,16803,15660,32143,40863
678,234079,378,17125,16697,31580,26499
679,255270,495,16492,16339,33042,41827
680,255969,573,17913,16781,35383,45790
681,245913,411,17295,16836,33346,34736
682,254136,501,16070,15818,32972,38075
683,252018,518,15924,15918,32810,38130
684,258593,546,15883,15726,33424,39572
685,260601,582,16568,16773,35649,48448
686,270812,558,17192,16785,35147,46175
687,260287,505,16260,15924,33296,39004
688,270313,563,17020,16434,35596,43807
689,272805,624,17557,16630,36624,45817
690,268964,565,16705,16254,35231,43157
691,268503,602,17544,17090,37755,49893
692,277100,579,18485,16792,38107,53963
693,274998,657,18214,16725,37955,54274
694,270898,669,18739,17599,37186,52929
695,272320,576,18049,17320,37184,51059
696,275740,604,17453,17372,37504,51409
697,276312,605,17806,17789,37996,47237
698,276382,572,17252,17344,38483,48880
699,290048,618,17370,17063,37755,52071
700,284609,566,16461,17137,36513,44800
701,273940,505,16067,16528,35634,42311